//es5 config
//root: true
//
//env:
//  browser: true
//
//extends:
//  "htmlacademy/es5"

//es6 config
{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "htmlacademy/node"
}
